.header {
  height: rem(56px);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: rem(120px);
  background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px) brightness(1.2); /* Apply blur effect with increased brightness */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.mobileExpandContainer {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-black)
  );
  width: 100%;
  backdrop-filter: blur(70px); /* Apply blur effect with increased brightness */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.75rem;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-dark-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-0));
    box-shadow: var(--mantine-shadow-lg);
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
